<div class="page-header">
  <h1>Orders</h1>
	<%= form_tag(orders_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Orders" %>
    <%= submit_tag "Search", :all => nil %>
    <% end %>
</div>

<table id="Orders" class="table">
	<thead>
		<tr>
			<th>Reference Number</th>
			<th>Date/Time</th>
			<th>Cinema Number</th>
			<th>Remarks</th>
			<th>Contact Number</th>
			<th>Total</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<tr>
				<td><%= link_to order.reference_number, order_path(order) %></td>
				<td><%= link_to order.created_at, order_path(order) %></td>
				<td><%= link_to order.cinema_number, order_path(order) %></td>
				<td><%= link_to order.remarks, order_path(order) %></td>
				<td><%= link_to order.contact_number, order_path(order) %></td>
				<td><%= link_to order.total, order_path(order) %></td>
				<td><%= link_to order.status, order_path(order) %></td>
				<td>
					<%= link_to 'Edit', edit_order_path(order) %> | 
					<%= link_to 'Delete', order, method: :delete, data: {confirm: "Are you sure?"} %>
					
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @orders %>



