<div class="page-header">
  <h1>Orders</h1>
  <%= form_tag orders_path, method: => 'get' do %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  </p>
</div>

<%= link_to 'Add Orders', new_order_path, class: 'btn btn-primary pull-right' %>

<table id="Orders" class="table">
	<thead>
		<tr>
			<th>Reference Number</th>
			<th>Cinema Number</th>
			<th>Remarks</th>
			<th>Contact Number</th>
			<th>Total</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<tr>
				<td><%= link_to order.reference_number, order_path(order) %></td>
				<td><%= link_to order.cinema_number, order_path(order) %></td>
				<td><%= link_to order.remarks, order_path(order) %></td>
				<td><%= link_to order.contact_number, order_path(order) %></td>
				<td><%= link_to order.total, order_path(order) %></td>
				<td><%= link_to 'Edit', edit_order_path(order) %> | <%= link_to 'Delete', order, method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @orders %>


