<div class="page-header">
  <h1>Items</h1>
  	<%= form_tag(items_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
    <%= submit_tag "Search", :all => nil %>
    <% end %>
</div>

<% if current_user.has_role? :admin %>
	<%= link_to 'Add Item', new_item_path, class: 'btn btn-primary pull-right' %>
<% end %>

<table class="table">
	<thead>
		<tr>
			<% if current_user.has_role? :superadmin %>
				<th>Mall</th>
				<th>Chain</th>
			<% end %>
			<th>Food Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Image</th>
			<% if current_user.has_role? :admin %>
				<th>Actions</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
			<tr>
				<% if current_user.has_role? :superadmin %>
					<td><%= item.menu.chain.mall.name %></td>
					<td><%= item.menu.chain.name %></td>
				<% end %>
				<td><%= link_to item.name, item_path(item) %></td>
				<td><%= link_to item.description, item_path(item) %></td>
				<td><%= link_to item.price, item_path(item) %></td>
				<td><%= image_tag item.item_image.to_s %></td>
				<% if current_user.has_role? :admin %>
					<td><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Delete', item, method: :delete %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @items %>
