<h1>Malls</h1>

<% @malls.each do |mall| %>
  <%= mall.name %>
<% end %>


<% title "malls" %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% for mall in @malls %>
    <tr>
      <td><%= mall.name %></td>
      <td><%= mall.price %></td>
      <td><%= link_to "Show", mall %></td>
      <td><%= link_to "Edit", edit_mall_path(product) %></td>
      <td><%= link_to "Destroy", mall, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Mall", new_mall_path %></p>