<h1>Malls</h1>
<%= link_to 'Add Mall', new_mall_path %>
<% @malls.each do |mall| %>
<p>
   Name: <%= link_to mall.name, mall_path(mall) %> </br>
   Address: <%= mall.address %> </br>
   Mall: <%= link_to mall.location.province, "/locations/#{mall.location.id}" %> </br> | <%= link_to 'Edit',
   edit_mall_path(mall) %> | <%= link_to 'Delete', mall, method: :delete %>
 </p>
      
    
  <% end %> 
