<div class="page-header">
  <h1>Malls</h1>
</div>

<%= link_to 'Add Mall', new_mall_path, class: 'btn btn-primary pull-right' %>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @malls.each do |mall| %>
			<tr>
				<td><%= link_to mall.name, mall_path(mall) %></td>
				<td><%= mall.address %></td>
				<td><%= link_to 'Edit', edit_mall_path(mall) %> | <%= link_to 'Delete', mall, method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>
