<div class="page-header">
  <h1>Reports</h1>
</div>

<div class="container">

<% if current_user.has_role? :admin %>
<h2> Daily </h2>
<p>Daily Total: <%= @chain.daily_total %></p>
<%= line_chart(@chain.daily_sales) %>

<h2> Weekly </h2>
<p>Weekly Total: <%= @chain.weekly_total %></p>
<%= line_chart(@chain.weekly_sales) %>

<h2> Monthly </h2>
<p>Monthly Total: <%= @chain.monthly_total %></p>
<%= line_chart(@chain.monthly_sales) %>

<% end %>

<% if current_user.has_role? :superadmin %>
<h2> Daily </h2>

<%= line_chart(@chain.daily_sales) %>

<h2> Weekly </h2>

<%= line_chart(@chain.weekly_sales) %>

<h2> Monthly </h2>

<%= line_chart(@chain.monthly_sales) %>

<% end %>
</div>